 <div id="event-container" class="max-w-screen-xl px-4 md:w-[90%] mx-auto pt-10">
     <div class="flex items-center justify-between md:pb-8">
                <div class="animation-wrapper">
                    <h2 class="section-head">{{title}}</h2>
                </div>
                <span
                    class="text-white font-semibold relative after:content-[''] after:block after:border-b-2 after:border-white after:mt-1">
                    Xem tất cả
                </span>
            </div>
    
            <div class="upcoming-event" data-api-url="{{event_api_url}}">
                <div
                    class="event-item grid grid-rows-2 md:grid-rows-none md:grid-cols-2 p-7 gap-5 md:gap-14 relative 
                before:content-['']  before:absolute before:left-0 before:right-0 before:bottom-1/2 before:border-b-1 md:before:border-b-0
                md:before:top-0 md:before:bottom-0 md:before:left-1/2 md:before:border-l-1 before:border-gray-300 before:border-dashed">
    
                    <div class="overflow-hidden">
                        <a href="#">
                            <img src="assets/images/events/event-3.jpg" loading="lazy" alt=""
                                class="object-cover w-full h-[200px] md:h-[350px] hover:scale-105 transition-transform duration-500">
                        </a>
                    </div>
                    <div class="overflow-hidden z-10">
                        <a href="#">
                            <img src="assets/images/events/event-2.jpg" alt=""
                                class="object-cover w-full h-[200px] md:h-[350px] hover:scale-105 transition-transform duration-500">
                        </a>
                    </div>
    
                </div>
    
                <!-- End Post And Event -->
            </div>
 </div>

 <script>
    const eventContainer = document.querySelector('.upcoming-event');
    const apiUrl = eventContainer.dataset.apiUrl;
    console.log(apiUrl);
    
    
    async function loadEvents() {
        try {
            const response = await axios.get(apiUrl);
            const events = response.data.data;

             const container = document.querySelector('.upcoming-event .event-item');
            container.innerHTML = ''; 
            events.slice(0,2).forEach(event => {
                const eventHTML = `
                    <div class="overflow-hidden">
                        <a href="${event.link || '#'}">
                            <img src="${event.image}" loading="lazy" alt="${event.title}"
                                class="object-cover w-full h-[200px] md:h-[350px] hover:scale-105 transition-transform duration-500">
                        </a>
                    </div>
                `;
                container.innerHTML += eventHTML;
            });

        } catch (error) {
             console.error('Lỗi khi tải dữ liệu sự kiện:', error);
             document.getElementById('event-container').classList.add('hidden');
        }
    }
   
    // Gọi hàm khi tải trang
    document.addEventListener('DOMContentLoaded', loadEvents);
 </script>