<!-- Body -->
<!-- Banner -->
 {{ sections }}
 {{if index == 1}} 
 <div class="post-event relative">
    <div class="grid grid-cols-12 absolute z-[-1] h-[1307px] w-full">
        <div class="col-span-8"></div>
        <div id="bg-right" class="col-span-4  bg-[#006179] bg-blend-soft-light"
            style="background-image: url('system/right-bg.jpg'); background-repeat: repeat;  background-size: contain; background-blend-mode: soft-light;"></div>
    </div>
</div>
 {{/if}}
 {{partial src="partials/home/{type}"}}        
{{ /sections }}


<!-- Run Swipper -->
<script>
    document.addEventListener("DOMContentLoaded", function () {

        let swiper = new Swiper(".mySwiper", {
            loop: true, // Lặp vô hạn
            autoplay: {
                delay: 3800,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                dynamicBullets: true,
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        let studentList = new Swiper(".students-list", {
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            slidesPerView: 4,
            spaceBetween: 30,
            breakpoints: {
                //  < 768px (mobile)
                0: {
                    slidesPerView: 1,
                },
                //  ≥ 768px (tablet trở lên)
                768: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },

                1024: {
                    slidesPerView: 4,
                    spaceBetween: 20,
                }
            }
        });

        let businessList = new Swiper(".business-list", {
            loop: true,
            autoplay: {
                delay: 6000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination-business",
                clickable: true,
            },
            slidesPerView: 3,
            spaceBetween: 30,
            breakpoints: {
                //  < 768px (mobile)
                0: {
                    slidesPerView: 1,
                },
                //  ≥ 768px (tablet trở lên)
                768: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                }
            }
        });

        const sectionHeader = document.querySelectorAll('.section-head');
        sectionHeader.forEach(e => {
            let chars = e.textContent.split('');
            chars = chars.map((c, i) => `<span style="animation-delay: ${i / 20}s;">${c}</span>`);
            e.innerHTML = chars.join('');
        });

        const observer = new IntersectionObserver(entries => {
            entries.forEach(e => {
                const heading = e.target.querySelector('.section-head');

                if (e.isIntersecting) {
                    heading.classList.add('head-animation');
                    return;
                }
                heading.classList.remove('head-animation');
            });
        });
        const animationWrappers = document.querySelectorAll('.animation-wrapper');
        animationWrappers.forEach(e => {
            observer.observe(e);
        });
    });
</script>




