<!-- Body -->
<!-- Banner -->
<div class="banner-container grid grid-cols-12">
    <div class="col-span-8 flex flex-col">
        <div class="flex-1 relative">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/banners/tdc.png " alt="banner-image"
                            class="w-full h-[450px] object-cover" />
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/banners/banner-tdc.png " alt="banner-image"
                            class="w-full h-[450px] object-cover" />
                    </div>
                </div>

                <!-- Nút điều hướng -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

            <div class="absolute z-50 bottom-8 h-[100px] w-[30%] bg-gray-500/30"></div>
            <div class="banner-text absolute z-50 bottom-12 max-w-screen-xl px-4 mx-auto">
                <h2 class="text-4xl font-black text-white drop-shadow-md">
                    FIT-TDC
                </h2>
                <p class="text-white drop-shadow-md">Khoa công nghệ thông tin</p>
            </div>
        </div>
    </div>
    <div class="col-span-4 flex flex-col">
        <div class="grid grid-rows-4 md:grid-cols-2 md:grid-rows-2 flex-1">
            <div class="relative">
                <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXp6azcyYm01azJnenI5cHBtZnloenVteDA5enB3ejIzcnd3YTV3bSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3q2XB76CaWPggiNW/giphy.gif"
                    alt="banner-image" class="h-full w-full object-cover" />
                <div class="absolute inset-0 bg-[#003b7a]/50 flex flex-col items-center justify-center">
                    <button data-modal-target="default-modal" data-modal-toggle="default-modal"
                        class="text-white hover:border-blue-800 hover:text-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 w-12 h-12 flex items-center justify-center"
                        type="button">
                        <i class="fa-regular fa-play"></i>
                    </button>
                    <h2 class="text-white text-center">
                        Ngành<br><span class="font-bold">CÔNG NGHỆ THÔNG TIN</span>
                    </h2>
                </div>
            </div>
            <div class="relative">
                <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXp6azcyYm01azJnenI5cHBtZnloenVteDA5enB3ejIzcnd3YTV3bSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3q2XB76CaWPggiNW/giphy.gif"
                    alt="banner-image" class="h-full w-full object-cover" />
                <div class="absolute inset-0 bg-[#003b7a]/50 flex flex-col items-center justify-center">
                    <button data-modal-target="default-modal" data-modal-toggle="default-modal"
                        class="text-white hover:border-blue-800 hover:text-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 w-12 h-12 flex items-center justify-center"
                        type="button">
                        <i class="fa-regular fa-play"></i>
                    </button>
                    <h2 class="text-white text-center">
                        Ngành<br><span class="font-bold">CÔNG NGHỆ THÔNG TIN<br>(Nhật Bản)</span>
                    </h2>
                </div>
            </div>
            <div class="relative">
                <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXp6azcyYm01azJnenI5cHBtZnloenVteDA5enB3ejIzcnd3YTV3bSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3q2XB76CaWPggiNW/giphy.gif"
                    alt="banner-image" class="h-full w-full object-cover" />
                <div class="absolute inset-0 bg-[#003b7a]/50 flex flex-col items-center justify-center">
                    <button data-modal-target="default-modal" data-modal-toggle="default-modal"
                        class="text-white hover:border-blue-800 hover:text-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 w-12 h-12 flex items-center justify-center"
                        type="button">
                        <i class="fa-regular fa-play"></i>
                    </button>
                    <h2 class="text-white text-center">
                        Ngành<br><span class="font-bold">TRUYỀN THÔNG &<br>MẠNG MÁY TÍNH</span>
                    </h2>
                </div>
            </div>
            <div class="relative">
                <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXp6azcyYm01azJnenI5cHBtZnloenVteDA5enB3ejIzcnd3YTV3bSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3q2XB76CaWPggiNW/giphy.gif"
                    alt="banner-image" class="h-full w-full object-cover" />
                <div class="absolute inset-0 bg-[#003b7a]/50 flex flex-col items-center justify-center">
                    <button data-modal-target="default-modal" data-modal-toggle="default-modal"
                        class="text-white hover:border-blue-800 hover:text-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 w-12 h-12 flex items-center justify-center"
                        type="button">
                        <i class="fa-regular fa-play"></i>
                    </button>
                    <h2 class="text-white text-center">
                        Ngành<br><span class="font-bold">THIẾT KẾ ĐỒ HỌA</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Post And Event -->
<div class="post-event relative">
    <div class="grid grid-cols-12 absolute z-[-1] h-[350px] w-full">
        <div class="col-span-8"></div>
        <div id="bg-right" class="col-span-4  bg-[#006179] bg-blend-soft-light"
            style="background-image: url('/system/bg-tech.gif');"></div>
    </div>
    <!-- Post And Event -->
    <div id="postEvents" class="max-w-screen-xl px-4 md:w-[90%] mx-auto pt-10">
        <!-- Post -->
        <div class="flex items-center justify-between md:pb-8">
            <div class="animation-wrapper">
                <h2 class="section-head">Tin Tức</h2>
            </div>
            <a href="/tin-tuc"
                class="text-white font-semibold relative after:content-[''] after:block after:border-b-2 after:border-white after:mt-1">
                Xem tất cả
            </a>
        </div>

        <div class="posts-container grid grid-rows-12 md:grid-rows-none md:grid-cols-12 mb-9">
            {{ collection:posts limit="4" sort="date:desc" }}
                {{if index == 0}}
                <div class="row-span-6 md:row-span-none col-span-6">
                    <div class="grid grid-cols-12 home-post">
                        <div class="col-span-6">
                            <a href="{{url}}">
                            {{ thumbnail }}
                                <img src="{{url}}"
                                    alt="{{title}}" class="aspect-square object-cover" />
                             {{ /thumbnail }}
                             </a>
                        </div>
                        <div class="col-span-6 bg-gray-200 p-7 relative post-content triangle-left before:bg-gray-200">
                            <div class="text-sm">{{date format="d/m/Y"}}</div>
                            <h3 class="text-xl font-semibold">
                                <a href="{{url}}" class="line-clamp-3">{{title}}</a>
                            </h3>
                            <div class="text-sm hidden md:block title_description">{{title_description}}</div>
                            <a href="{{url}}" class="absolute bottom-7 left-7 "><svg fill="currentColor"
                                    viewBox="0 0 23 24" xmlns="http://www.w3.org/2000/svg" class="w-5 scale-x-[-1] md:scale-x-100">
                                    <path clip-rule="evenodd"
                                        d="M0 3.2V0.5H18H20.5H23V3V5.5V23.5H20.3L20.5 5.5191H19.8881L1.96094 23.4462L0.0308727 21.5514L17.9578 3.62444V3.2H0Z"
                                        fill-rule="evenodd"></path>
                                </svg></a>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{if index == 1}}
                <div class="row-span-6 md:row-span-none col-span-6">
                    <div class="grid grid-cols-12 home-post">
                        <div class="col-span-6">
                            <a href="{{url}}">
                                {{thumbnail}}
                                <img src="{{url}}"
                                    alt="{{title}}" class="aspect-square object-cover" />
                                    {{/thumbnail}}
                                </a>
                        </div>
                        <div class="col-span-6 bg-gray-200 p-7 relative post-content triangle-left before:bg-gray-200">
                            <div class="text-sm">{{date format="d/m/Y"}}</div>
                            <h3 class="text-xl font-semibold">
                                <a href="{{url}}" class="line-clamp-3">{{title}}</a>
                            </h3>
                            <div class="hidden md:block text-sm title_description">{{title_description}}</div>
                            <a href="{{url}}" class="absolute bottom-7 left-7"><svg fill="currentColor"
                                    viewBox="0 0 23 24" xmlns="http://www.w3.org/2000/svg" class="w-5 scale-x-[-1] md:scale-x-100">
                                    <path clip-rule="evenodd"
                                        d="M0 3.2V0.5H18H20.5H23V3V5.5V23.5H20.3L20.5 5.5191H19.8881L1.96094 23.4462L0.0308727 21.5514L17.9578 3.62444V3.2H0Z"
                                        fill-rule="evenodd"></path>
                                </svg></a>
                        </div>
                    </div>
                </div>
                {{/if}}

                {{if index == 2}}
                <div class="row-span-6 md:row-span-none col-span-6">
                    <div class="grid grid-cols-12 home-post">
                        <div class="col-span-6 order-2">
                            <a href="{{url}}">
                                {{thumbnail}}
                                <img src="{{url}}"
                                    alt="{{title}}" class="aspect-square object-cover" />
                                    {{/thumbnail}}
                                </a>
                        </div>
                        <div class="col-span-6 bg-gray-200 p-7 relative post-content triangle-right before:bg-gray-200">
                            <div class="text-sm">{{date format="d/m/Y"}}</div>
                            <h3 class="text-xl font-semibold">
                                <a href="{{url}}" class="line-clamp-3">{{title}}</a>
                            </h3>
                            <div class="text-sm hidden md:block title_description">{{title_description}}</div>
                            <a href="{{url}}" class="absolute bottom-7 right-7"><svg fill="currentColor"
                                    viewBox="0 0 23 24" xmlns="http://www.w3.org/2000/svg" class="w-5">
                                    <path clip-rule="evenodd"
                                        d="M0 3.2V0.5H18H20.5H23V3V5.5V23.5H20.3L20.5 5.5191H19.8881L1.96094 23.4462L0.0308727 21.5514L17.9578 3.62444V3.2H0Z"
                                        fill-rule="evenodd"></path>
                                </svg></a>
                        </div>
                    </div>
                </div>
                {{/if}}

                {{if index == 3}}
                <div class="row-span-6 md:row-span-none col-span-6">
                    <div class="grid grid-cols-12 home-post">
                        <div class="col-span-6 order-2">
                            <a href="{{url}}">
                                {{thumbnail}}
                                <img src="{{url}}"
                                    alt="{{title}}" class="aspect-square object-cover" />
                                {{/thumbnail}}
                                </a>
                        </div>
                        <div class="col-span-6 bg-gray-200 p-7 relative post-content triangle-right before:bg-gray-200">
                            <div class="text-sm">{{date format="d/m/Y"}}</div>
                            <h3 class="text-xl font-semibold">
                                <a href="{{url}}" class="line-clamp-3">{{title}}</a>
                            </h3>
                            <div class="hidden lg:block text-sm title_description">{{title_description}}</div>
                            <a href="{{url}}" class="absolute bottom-7 right-7"><svg fill="currentColor"
                                    viewBox="0 0 23 24" xmlns="http://www.w3.org/2000/svg" class="w-5">
                                    <path clip-rule="evenodd"
                                        d="M0 3.2V0.5H18H20.5H23V3V5.5V23.5H20.3L20.5 5.5191H19.8881L1.96094 23.4462L0.0308727 21.5514L17.9578 3.62444V3.2H0Z"
                                        fill-rule="evenodd"></path>
                                </svg></a>
                        </div>
                    </div>
                </div>
                {{/if}}
            {{/collection:posts}}
        </div>
        <!-- End Post -->
        <!-- Upcoming event -->
        <div class="flex items-center justify-between md:pb-8">
            <div class="animation-wrapper">
                <h2 class="section-head">Sự kiện</h2>
            </div>
            <span
                class="text-white font-semibold relative after:content-[''] after:block after:border-b-2 after:border-white after:mt-1">
                Xem tất cả
            </span>
        </div>

        <div class="upcoming-event">
            <div
                class="event-item grid grid-rows-2 md:grid-rows-none md:grid-cols-2 p-7 gap-5 md:gap-14 relative 
            before:content-['']  before:absolute before:left-0 before:right-0 before:bottom-1/2 before:border-b-1 md:before:border-b-0
            md:before:top-0 md:before:bottom-0 md:before:left-1/2 md:before:border-l-1 before:border-gray-300 before:border-dashed">

                <div class="overflow-hidden">
                    <a href="#">
                        <img src="assets/images/events/event-3.jpg" alt=""
                            class="object-cover w-full h-[200px] md:h-[350px] hover:scale-105 transition-transform duration-500">
                    </a>
                </div>
                <div class="overflow-hidden z-10">
                    <a href="#">
                        <img src="assets/images/events/event-2.jpg" alt=""
                            class="object-cover w-full h-[200px] md:h-[350px] hover:scale-105 transition-transform duration-500">
                    </a>
                </div>

            </div>

            <!-- End Post And Event -->
        </div>
    </div>
    <!-- End Upcoming event -->
    <div id="education" class="">
        <div class="mt-16 max-w-screen-xl px-4 md:w-[90%] mx-auto">
            <div class="animation-wrapper">
                <h2 class="section-head">Đào tạo</h2>
            </div>
        </div>
        <div class="md:grid md:grid-cols-12 flex flex-col-reverse">
            <div class="col-span-3 flex flex-cols">
                <div class="p-7 bg-gray-200 flex-1">
                    <h2 class="font-bold text-xl">Chương trình đào tạo</h2>
                    <p>Khám phá chương trình đào tạo bài bản với lộ trình học tập rõ ràng, giúp bạn phát triển kiến thức
                        và kỹ năng chuyên sâu theo xu hướng mới nhất.</p>
                    <a href="" class="mt-6 border-1 py-3 px-6 font-semibold mx-auto inline-block">Khám phá ngay<i
                            class="fa-light fa-arrow-right ml-1"></i></a>
                </div>
            </div>
            <div class="col-span-9 flex flex-cols">
                <div class="grid grid-cols-4 text-white">
                    <div class="program relative px-3 pt-3 pb-7 md:p-7 bg-linear-to-r/srgb from-[#396afc] to-[#2948ff]">
                        <div class="">Ngành</div>
                        <h3 class="md:text-3xl font-bold">CÔNG NGHỆ<br>THÔNG TIN</h3>
                        <a href="#" class=" absolute bottom-0 md:bottom-7 left-7 md:text-2xl mt-5 block"><i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="program relative px-3 pt-3 pb-7 md:p-7 bg-linear-to-r/srgb from-[#3F5EFB] to-[#FC466B]">
                        <div class="">Ngành</div>
                        <h3 class="md:text-3xl font-bold">CÔNG NGHỆ<br>THÔNG TIN (NHẬT BẢN)</h3>
                        <a href="#" class=" absolute bottom-0 md:bottom-7 left-7 md:text-2xl mt-5 block"><i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="program relative px-3 pt-3 pb-7 md:p-7 bg-linear-to-r/srgb from-[#ee0979] to-[#ff6a00]">
                        <div class="">Ngành</div>
                        <h3 class="md:text-3xl font-bold">TRUYỀN THÔNG &<br>MẠNG MÁY TÍNH</h3>
                        <a href="#" class=" absolute bottom-0 md:bottom-7 left-7 md:text-2xl mt-5 block"><i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="program relative px-3 pt-3 pb-7 md:p-7 bg-linear-to-r/srgb from-[#FF5F6D] to-[#FFC371]">
                        <div class="">Ngành</div>
                        <div class="md:text-3xl font-bold">THIẾT KẾ<br>ĐỒ HỌA</div>
                        <a href="#" class=" absolute bottom-0 md:bottom-7 left-7 md:text-2xl mt-5 block"><i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Post And Event -->

<!-- Student -->
<div class="bg-[#f1f4f9]">
    <div class="max-w-screen-xl px-4 md:w-[90%] mx-auto py-14">
        <div class="animation-wrapper">
            <h2 class="section-head">Sinh viên tiêu biểu</h2>
        </div>
        <!-- Students List -->
        <div class="swiper students-list">
            <div class="swiper-wrapper">
                {{collection:students}}
                <div class="swiper-slide">
                    <div class="student-item bg-white text-center">
                        <div class="grid grid-cols-12 text-sm">
                            <div class="col-span-9 p-2 font-bold bg-amber-300">{{major}}</div>
                            <div class="col-span-3 p-2">{{class}}</div>
                        </div>
                        <div class="student-photo relative bg-linear-to-r/srgb from-[#E0EAFC] to-[#CFDEF3] pt-5 overflow-hidden">
                            <img src=" {{avatar}}" alt="{{title}}"
                                class="object-cover h-[300px] inline-block z-2 relative">
                            <h3
                                class="bg-linear-to-r/srgb from-[#396afc] to-[#2948ff] font-bold p-3 text-xl text-white relative z-2 mix-blend-multiply">
                                <a href="{{url}}" class="hover:border-b hover:border-white">{{title}}</a></h3>
                        </div>
                        <div class="p-3">


                            <ul class="grid grid-rows-3 max-w-md space-y-1 text-gray-500 list-inside  text-left">
                                {{awards limit="3" scope="award"}}
                                <li class="flex items-center">
                                    <i class="fa-solid fa-star text-amber-300 me-2"></i><span class="line-clamp-1"> {{award:title}}</span>
                                </li>
                                {{/awards}}
                                

                            </ul>

                            <div class="text-right">
                                <a href="{{url}}"><i class="fa-regular fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/collection:students}}
                

            </div>
        </div>
        <!-- End Students List -->
    </div>
</div>
<!-- End Student -->

<!-- Business opinion -->
<div class="max-w-screen-xl px-4 md:w-[90%] mx-auto py-10">
    <div class="animation-wrapper">
        <h2 class="section-head">Cảm nhận về FIT-TDC</h2>
    </div>
    <div class="business-opinions">
        <div class="swiper business-list">
            <div class="swiper-wrapper mb-5 py-5">
                {{collection:feedbacks}}
                <div class="swiper-slide">
                    <div class="business-item bg-[#f3f4f6] px-5 pt-5 pb-20 rounded-xl relative animate-float group">
                        <div class="text-[#cfd2d7] group-hover:text-blue-500 text-4xl mb-3">
                            <i class="fa-solid fa-quote-left"></i>
                        </div>
                        <p>
                          {{content}}
                        </p>
                        <div class="bg-white py-2 pr-4 absolute bottom-0 left-0 rounded-xl">
                            <div class="flex gap-3.5">
                                <img src="{{avatar}}" alt=""
                                    class="w-11 h-11 rounded-full object-cover" srcset="">
                                <div>
                                    <p class="text-sm font-semibold">{{fullname}}</p>
                                    <p class="text-xs text-gray-500">{{position}}</p>
                                </div>
                            </div>
                            <div class="custom-shape shape-right"></div>
                            <div class="custom-shape shape-left"></div>
                        </div>
                    </div>
                </div>
                {{/collection:feedbacks}}
                
            </div>
            <div class="swiper-pagination-business"></div>
        </div>
        <div class="grid grid-cols-12 gap-5">
            <div class="col-span-4">

            </div>
        </div>
    </div>
</div>
<!-- End business opinion -->

<!-- End Body -->

<!-- Footer -->
<!-- End Footer -->
<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-3 border-b rounded-t border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900">Giới thiệu</h3>
                <button type="button" id="btn-close"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-hide="default-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <iframe id="videoFrame" width="100%" height="315"
                    src="https://www.youtube.com/embed/cm57ye-svYI?si=goFVbn2x-vBN8-ku&autoplay=1&mute=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

<!-- Calculate the height of bg side right -->
<script>
    const a = document.querySelector('#postEvents');
    const b = document.querySelector('#education');
    const bgRight = document.querySelector('#bg-right')

    let heightA = b.offsetTop - a.offsetTop;

    bgRight.style.height = `${heightA}px`;
</script>

<!-- Show modal -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById("default-modal");
        const videoFrame = document.getElementById("videoFrame");
        const closeModalButton = modal.querySelector("#btn-close");
        const originalSrc =
            "https://www.youtube.com/embed/cm57ye-svYI?si=goFVbn2x-vBN8-ku";

        function closeModal() {
            videoFrame.src = "";
            videoFrame.src = originalSrc;
        }

        closeModalButton.addEventListener("click", closeModal);

        modal.addEventListener("click", function (event) {
            // Nếu click chính vào overlay (modal) chứ không phải nội dung bên trong
            if (event.target === modal) {
                closeModal();
            }
        });
    });
</script>

<!-- Run Swipper -->
<script>
    document.addEventListener("DOMContentLoaded", function () {

        let swiper = new Swiper(".mySwiper", {
            loop: true, // Lặp vô hạn
            autoplay: {
                delay: 3800,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                dynamicBullets: true,
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        let studentList = new Swiper(".students-list", {
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            slidesPerView: 4,
            spaceBetween: 30,
            breakpoints: {
                //  < 768px (mobile)
                0: {
                    slidesPerView: 1,
                },
                //  ≥ 768px (tablet trở lên)
                768: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },

                1024: {
                    slidesPerView: 4,
                    spaceBetween: 20,
                }
            }
        });

        let businessList = new Swiper(".business-list", {
            loop: true,
            autoplay: {
                delay: 6000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination-business",
                clickable: true,
            },
            slidesPerView: 3,
            spaceBetween: 30,
            breakpoints: {
                //  < 768px (mobile)
                0: {
                    slidesPerView: 1,
                },
                //  ≥ 768px (tablet trở lên)
                768: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                }
            }
        });

        const sectionHeader = document.querySelectorAll('.section-head');
        sectionHeader.forEach(e => {
            let chars = e.textContent.split('');
            chars = chars.map((c, i) => `<span style="animation-delay: ${i / 20}s;">${c}</span>`);
            e.innerHTML = chars.join('');
        });

        const observer = new IntersectionObserver(entries => {
            entries.forEach(e => {
                const heading = e.target.querySelector('.section-head');

                if (e.isIntersecting) {
                    heading.classList.add('head-animation');
                    return;
                }
                heading.classList.remove('head-animation');
            });
        });
        const animationWrappers = document.querySelectorAll('.animation-wrapper');
        animationWrappers.forEach(e => {
            observer.observe(e);
        });
    });
</script>