<!-- Body -->
<!-- Banner -->
 {{ sections }}
 {{if index == 1}} 
 <div class="post-event relative">
    <div class="grid grid-cols-12 absolute z-[-1] h-[1307px] w-full">
        <div class="col-span-8"></div>
        <div id="bg-right" class="col-span-4  bg-[#006179] bg-blend-soft-light"
            style="background-image: url('system/right-bg.jpg'); background-repeat: repeat;  background-size: contain; background-blend-mode: soft-light;"></div>
    </div>
</div>
 {{/if}}
 {{partial src="partials/home/{type}"}}        
{{ /sections }}



<!-- Business opinion -->

<!-- End business opinion -->

<!-- End Body -->

<!-- Footer -->
<!-- End Footer -->
<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-3 border-b rounded-t border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900">Giới thiệu</h3>
                <button type="button" id="btn-close"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-hide="default-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <iframe id="videoFrame" width="100%" height="315"
                    src="https://www.youtube.com/embed/cm57ye-svYI?si=goFVbn2x-vBN8-ku&autoplay=1&mute=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>


<!-- Show modal -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById("default-modal");
        const videoFrame = document.getElementById("videoFrame");
        const closeModalButton = modal.querySelector("#btn-close");
        const originalSrc =
            "https://www.youtube.com/embed/cm57ye-svYI?si=goFVbn2x-vBN8-ku";

        function closeModal() {
            videoFrame.src = "";
            videoFrame.src = originalSrc;
        }

        closeModalButton.addEventListener("click", closeModal);

        modal.addEventListener("click", function (event) {
            // Nếu click chính vào overlay (modal) chứ không phải nội dung bên trong
            if (event.target === modal) {
                closeModal();
            }
        });
    });
</script>

<!-- Run Swipper -->
<script>
    document.addEventListener("DOMContentLoaded", function () {

        let swiper = new Swiper(".mySwiper", {
            loop: true, // Lặp vô hạn
            autoplay: {
                delay: 3800,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                dynamicBullets: true,
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        let studentList = new Swiper(".students-list", {
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            slidesPerView: 4,
            spaceBetween: 30,
            breakpoints: {
                //  < 768px (mobile)
                0: {
                    slidesPerView: 1,
                },
                //  ≥ 768px (tablet trở lên)
                768: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },

                1024: {
                    slidesPerView: 4,
                    spaceBetween: 20,
                }
            }
        });

        let businessList = new Swiper(".business-list", {
            loop: true,
            autoplay: {
                delay: 6000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination-business",
                clickable: true,
            },
            slidesPerView: 3,
            spaceBetween: 30,
            breakpoints: {
                //  < 768px (mobile)
                0: {
                    slidesPerView: 1,
                },
                //  ≥ 768px (tablet trở lên)
                768: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                }
            }
        });

        const sectionHeader = document.querySelectorAll('.section-head');
        sectionHeader.forEach(e => {
            let chars = e.textContent.split('');
            chars = chars.map((c, i) => `<span style="animation-delay: ${i / 20}s;">${c}</span>`);
            e.innerHTML = chars.join('');
        });

        const observer = new IntersectionObserver(entries => {
            entries.forEach(e => {
                const heading = e.target.querySelector('.section-head');

                if (e.isIntersecting) {
                    heading.classList.add('head-animation');
                    return;
                }
                heading.classList.remove('head-animation');
            });
        });
        const animationWrappers = document.querySelectorAll('.animation-wrapper');
        animationWrappers.forEach(e => {
            observer.observe(e);
        });
    });
</script>




