<!-- Banner -->
{{if banner_image}}
<header class="h-[300px] bg-cover bg-center relative" style="background-image: url('{{banner_image}}');">
    <div class="absolute z-10 bottom-0 md:max-w-[50%]">
        <div class="bg-blue-900/55 p-6 border-l-6 border-blue-800">
            <h1 class="uppercase text-2xl md:text-3xl font-black text-white text-shadow-title">{{title}}</h1>
            <div class="text-white text-sm md:text-lg text-shadow-title text-justify">{{description}}</div>
        </div>
    </div>
    <!-- <div class="absolute inset-0 bg-[#1dafee]/35"></div> -->
</header>
{{else}}
<header>
    <div class="md:min-w-[50%] bg-gradient-to-r from-blue-500 to-cyan-300 p-5 border-l-6 border-blue-800">
        <h1 class="uppercase text-2xl md:text-3xl font-black text-white text-shadow-title">{{title}}</h1>
        <span class="text-white text-sm md:text-lg text-shadow-title text-justify">{{description}}</span>
    </div>
</header>
{{/if}}

<div class="max-w-screen-xl px-4 md:w-[90%] mx-auto py-10">
    {{ sections }}
    {{partial src="partials/{type}"}}
    {{ /sections }}
</div>