.f-bg {
    z-index: -1000;
    position: absolute;
}
.f-bg .f-bg-left{
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #424242;
}
#ft-list-item{
    margin: 5px 4px ;
}
.ft-input-box{
    position: relative;
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    padding: 15px;
}
.ft-input-btn{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    padding: 17px;
    right: 0;
    top: 0;
}

.bg-gradient-blue {
  background: linear-gradient(to right, #002a55, #004a73);
}

#bubble-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9;
}

.bubble {
  position: absolute;
  bottom: -50px;
  width: 20px;
  height: 20px;
  background-color: rgba(124, 178, 236, 0.5);
  border-radius: 50%;
  animation: rise 5s linear infinite;
}

@keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1.5);
    opacity: 0;
  }
}
